@import 'variables';

* {
    box-sizing: border-box;
    background-clip: border-box;
}

html {
    font-size: $font-size-regular;
    font-family: sans-serif;
    color: $color-text-dark;
}

.container {
    margin: 0;
    padding: 0 $padding-small;
    width: 100%;
}

.c1, .c2, .c3, .c3-2, .c4, .c5, .c5-2 { width: 100%; }

.row {
    display: flex;
    flex-wrap: wrap;
    &.space-between { justify-content: space-between; }
    &.space-around { justify-content: space-around; }
    &.no-wrap { flex-wrap: nowrap; }
}

header > .container {
    > .logo-area {
        z-index: 9;
        position: relative;
        padding: $padding-small 0px;
        > .corner-options {
            position: absolute;
            right: 0;
            top: $padding-small;
            text-align: right;
            font-size: 0.6rem;
            line-height: 0.8rem;
        }
        > #logo > img {
            display: block;
            margin: auto;
            width: 40%;
            border: 1px solid $color-text-dark;
            border-radius: 4px;
        }
    }
    > #menu-desktop {
        display: none;
    }
}

section {
    &#first {
        > .background {
            display: none;
        }
        background-image: url('../img/golf1.jpeg');
        background-position: center;
        background-size: cover;
        #list-recommended {
            text-transform: uppercase;
            margin-bottom: $padding-large;
            > hr { width: 200px; margin-left: 0px; }
        }
        #weather-window {
            .background {
                background-color: $color-bg-fifth;
                transform: skewY(6deg);
                transform-origin: top right;
            }
            background-color: $color-bg-fifth;
            float: none;
            margin: auto;
            width: 65%;
            padding: $padding-medium $padding-small;
            padding-top: 0;
            margin-top: $padding-medium;
            .center-vertically {
                align-items: center;
                padding: 5px 0;
            }
            .title {
                font-size: 0.8rem;
                text-transform: uppercase;
            }
            .ws1 {
                font-size: 0.55rem;
                text-transform: uppercase;
                line-height: 30px;
            }
            .ws2 { font-size: 1.2rem; }
            .ws3 {
                font-size: 0.5rem;
                > a {
                    color: rgb(255, 127, 0);
                }
            }
            .forecast {
                font-size: 0.6rem;
                i { font-size: inherit; }
                .c1 {
                    text-align: center;
                    padding-bottom: 5px;
                }
            }
            .more-arrow {
                position: relative;
                top: 5px;
            }
        }
        hr {
            border: 0px;
            height: 1px;
            background: $color-text-bright;
        }
    }

    &#second {
        h1 { margin-bottom: $padding-small; }
        .article-brief-area {
            padding: $padding-small 0;
            > .c3 {
                margin-bottom: $padding-small;
            }
            > .article-content {
                text-align: justify;
                .show-more {
                    float: right;
                    color: limegreen;
                }
            }
            +hr {
                width: 100%;
            }
        }
        .more-arrow {
            margin-top: $padding-large;
            color: green;
        }
    }

    &#third {
        background-color: $color-bg-third;
        background-image: url('../img/golf2.jpg');
        background-position: center;
        background-size: cover;
        h1 { margin-bottom: $padding-large; }
        .content {
            line-height: 1.8rem;
        }
        hr { margin: $padding-small 0; }
        .more-arrow { margin-top: $padding-medium; }
    }

    &#fourth > .container {
        padding: $padding-small $padding-medium;
        h1 { margin-bottom: $padding-large; }
    }

    &#fifth {
        background-color: $color-bg-fifth;
        color: $color-text-bright;
        > .container {
            padding: $padding-small $padding-medium;
            h1 { margin-bottom: $padding-tiny; }
            h2 { margin-bottom: $padding-large; }
            .row {
                font-size: 1rem;
                line-height: 1.2rem;
                p { margin-bottom: $padding-medium; }
                ul {
                    list-style: disc inside;
                    margin-bottom: $padding-medium;
                }
                .photo {
                    width: 100%;
                    height: auto;
                    margin-bottom: $padding-medium;
                }
            }
            .more-arrow {
                margin-top: $padding-medium;
            }
        }
    }

    &#sixth {
        background-color: $color-bg-sixth;
        > .container {
            h1 { margin-bottom: $padding-tiny; }
            h2 { margin-bottom: $padding-large; line-height: 1rem; }
            h3 {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.2rem;
                margin-bottom: $padding-small;
            }
            p { margin-bottom: $padding-medium; }
            table {
                border-collapse: collapse;
                width: 100%;
                height: auto;
                margin-bottom: $padding-medium;
                td {
                    padding: $padding-small 0;
                    border-bottom: 1px solid black;
                    font-size: 0.7rem;
                }
                thead {
                    white-space: nowrap;
                    text-transform: uppercase;
                    font-weight: bold;
                    td { font-size: 0.75rem; }
                }
                
            }
            .secret { font-size: 0.55rem; }
            img {
                margin-top: -9em;
                width: 100%;
                height: auto;
                position: relative;
                top: 10em;
            }
        }
    }

    &.filler {
        height: 12em;
    }

    &#seventh {
        color: $color-text-bright;
        background-color: $color-bg-seventh;
        background-image: url('../img/golf6.jpeg');
        background-position: center;
        background-size: cover;
        h1 { margin-bottom: $padding-large; }
        > .container {
            padding: $padding-small $padding-medium;
            line-height: 1.3rem;
            .more-arrow {
                margin-top: $padding-large;
            }
        }
    }

    &#eighth {
        h1 { margin-bottom: $padding-large; }
        > .container {
            padding: $padding-small $padding-medium;
            line-height: 1.1rem;
            span, p {
                width: 100%;
                display: inline-block;
                margin-bottom: 1.1rem;
            }
            img {
                width: 100%;
            }
        }
    }

}

#scroll-to-top-arrow {
    display: none;
}

footer {
    display: none;
}

@media (min-width: 600px) {
    .c2, .c3, .c4, .c5 { width: 50%; }
    .container { padding: 0 $padding-large; }
    section#first {
        > .background {
            display: block;
            height: 100px;
            background-color: white;
            transform: skewY(-5deg);
            transform-origin: left;
        }
        > div.container {
            #list-recommended {
                margin-top: 200px;
            }
            #weather-window {
                float: right;
                margin: 0px;
                width: 66%;
            }
        }
    }
    section#third {
        > .background {
            display: block;
            height: 100px;
            background-color: white;
            transform: skewY(-5deg);
            transform-origin: left;
        }
        > .triangle {
            display: block;
            height: 870px;
            background-color: #ff8764;
            transform: skewY(5deg);
            transform-origin: center;
            opacity: 0.3;
        }
        > .container {
            margin-top: -780px;
            padding-bottom: 50px;
        }
    }
    section#fifth {
        position: relative;
        margin-top: 100px;
        padding-bottom: 100px;
        > .background {
            display: block;
            height: 100px;
            background-color: $color-bg-fifth;
            transform: skewY(5deg);
            transform-origin: center;
            margin-top: -50px;
        }
        > .container {
            margin-top: 30px;
        }
    }
    section#sixth {
        position: relative;
        > .background {
            display: block;
            height: 100px;
            background-color: $color-bg-sixth;
            transform: skewY(5deg);
            transform-origin: center;
            margin-top: -50px;
        }
        > .container {
            margin-top: 30px;
        }
    }
    section#seventh {
        > .background {
            display: block;
            height: 100px;
            background-color: white;
            transform: skewY(-5deg);
            transform-origin: left;
        }
        > .triangle {
            display: block;
            height: 530px;
            background-color: #70b8b4;
            transform: skewY(5deg);
            transform-origin: center;
            opacity: 0.3;
        }
        > .container {
            margin-top: -460px;
        }
    }

    section#eighth > .container img {
        margin-top: $padding-small;
    }

    #scroll-to-top-arrow {
        display: block;
        position: fixed;
        right: 30px;
        bottom: 30px;
        background-color: white;
        border: 1px solid black;
        padding: 15px;
        z-index: 99;
    }
}

@media (min-width: 970px) {
    .hide-lg { display: none; }
    .container {
        width: 970px;
        padding: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    .c2 { width: 50%; }
    .c3 { width: 33%; }
    .c4 { width: 25%; }
    .c5 { width: 20%; }
    .c3-2 { width: 66%; }
    .c5-2 { width: 45%; }

    h1 { margin: $padding-large 0 !important; }

    section {
        padding-bottom: $padding-large !important;
        > .container > .more-arrow {
            padding: $padding-large 0 !important;
            i { font-size: 2.65rem; }
        }

        &#first {
            > .background {
                transform: skewY(-3deg);
            }
        }
        &#third {
            > .background {
                height: 150px;
                transform: skewY(-4deg);
            }
            > .triangle {
                height: 700px;
            }
            > .container {
                padding-top: 80px;
                margin-top: -680px;
            }
        }
        &#fifth {
            > .background {
                height: 100px;
                transform: skewY(3deg);
            }
        }
        &#sixth {
            > .background {
                height: 200px;
                transform: skewY(3deg);
            }
            > .container {
                margin-top: 120px;
                img {
                    top: 15em;
                }
            }
        }
        &.filler {
            height: 350px;
        }
        &#seventh {
            > .background {
                transform: skewY(-3deg);
            }
            > .triangle {
                height: 600px;
            }
            > .container {
                margin-top: -510px;
            }
        }
    }

    header > .container {
        > .logo-area > .corner-options {
            font-size: 1rem;
            line-height: 1.2rem;
        }
        > #menu-desktop {
            display: flex;
            padding: $padding-large 0px;
            text-transform: uppercase;
            z-index: 9;
        }
    }

    section#first > div.container #weather-window {
        width: 60%;
    }

    #scroll-to-top-arrow {
        right: 20px;
        bottom: 20px;
        background-color: white;
        border: 1px solid black;
        padding: 10px;
        z-index: 99;
    }

    footer {
        display: block;
        color: $color-text-bright;
        background-color: $color-bg-footer;
        height: 200px;
        text-transform: uppercase;
        .container {
            height: inherit;
            align-items: center;
            > img {
                border: 1px solid $color-text-dark;
                border-radius: 4px;
                height: 100px;
            }
            > a {
                display: block;
            }
        }
    }
}