$padding-tiny: 5px;
$padding-small: 10px;
$padding-medium: 20px;
$padding-large: 30px;

$font-size-regular: 16px;

$color-text-bright: #fff;
$color-text-dark: #555;

$color-bg-third: #ff8764;
$color-bg-fifth: #458f98;
$color-bg-sixth: #e5eff0;
$color-bg-seventh: #70b8b4;
$color-bg-footer: #555;